/* Waveform container and canvas styles */
.waveform-container {
  width: 100%;
  height: 80px; /* Set a fixed height for the waveform container */
  margin-top: 10px;
  border-bottom: 2px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waveform-canvas {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333; /* Dark background for the waveform */
  border-radius: 0px;
  position: relative;
  z-index: 10;
}

/* Placeholder bar style */
.waveform-placeholder-bar {
  background-color: #444; /* Gray for placeholder bars */
}

/* Cursor customization */
.wavesurfer-cursor {
  width: 1px !important;
  background-color: #FFC857 !important; /* Yellow cursor */
  height: 100% !important;
}

/* Prevent scrollbars */
.wavesurfer-scrollbar {
  display: none !important;
}